﻿@model IEnumerable<WebApplication2.Models.machine>

@{
    ViewBag.Title = "Index";
}

<h2>Станки</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.machine_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wkshop.wkshop_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.machine_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wkshop.wkshop_name)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.machine_id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.machine_id }) |
            @Html.ActionLink("Подробности", "Details", new { id=item.machine_id })
        </td>
    </tr>
}

</table>
