﻿
@{
    ViewBag.Title = "Index";
}
<h1>Руденцов Никита ИСТб-13-1</h1>
<h2>Курсовой проект</h2>



@Html.ActionLink("Цеха", "index", "wkshops", new { area = "" }, new { @class = "navbar-brand" })
@Html.ActionLink("Станки", "index", "machines", new { area = "" }, new { @class = "navbar-brand" })
@Html.ActionLink("Детали", "index", "detals", new { area = "" }, new { @class = "navbar-brand" })
@Html.ActionLink("Модификации", "index", "modifs", new { area = "" }, new { @class = "navbar-brand" })
@Html.ActionLink("Станок-Деталь", "index", "detal_on_machine", new { area = "" }, new { @class = "navbar-brand" })
@Html.ActionLink("Модификация-Деталь", "index", "modif_to_detal", new { area = "" }, new { @class = "navbar-brand" })
@Html.ActionLink("Запрос 1", "index", "report1_view", new { area = "" }, new { @class = "navbar-brand" })
@Html.ActionLink("Запрос 2", "index", "report2_view", new { area = "" }, new { @class = "navbar-brand" })