﻿@model IEnumerable<WebApplication2.Models.detal>

@{
    ViewBag.Title = "Index";
}

<h2>Детали</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.detal_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detal_firm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.detal_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.detal_firm)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.detal_id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.detal_id }) |
            @Html.ActionLink("Подробности", "Details", new { id=item.detal_id })
        </td>
    </tr>
}

</table>
