﻿@model List<WebApplication2.Models.report2_Result>

@{
    ViewBag.Title = "Index";
}

<h2>Запрос 2</h2>

<p>Выдать список деталей указанного цеха, упорядоченный по времени обработки детали, обрабатываемых на станках с названием на определенную букву.</p>

<div class="form-horizontal">
    <form action="">

         <div class="form-group">
            <label class="control-label col-md-2">Название цеха</label>
            <div class="col-md-10">
                <select class="form-control" type="text" name="name"> 
                    @foreach (var res in ViewBag.wkShops)
                    {
                        <option value="@res">@res</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">1ая буква станка</label>
            <div class="col-md-10">
                <input type="text" required maxlength="1" class="form-control" name="letter" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Выполнить" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>


    <table class="table">
        <tr>
            <th>Название детали</th>
            <th>Название станка</th>
            <th>Название цеха</th>
            <th>Время обработки</th>
        </tr>

        @foreach (var res in ViewBag.result)
        {
            <tr>
                <td>@res[0]</td>
                <td>@res[1]</td>
                <td>@res[2]</td>
                <td>@res[3]</td>
            </tr>
        }
    </table>


