﻿@model WebApplication2.Models.modif_to_detal

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить запись?</h3>
<div>
    <h4>Модификация-деталь</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detal.detal_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detal.detal_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modif.modif_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modif.modif_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
