﻿@model WebApplication2.Models.modif_to_detal

@{
    ViewBag.Title = "Details";
}

<h2>Подробности</h2>

<div>
    <h4>Модификация-Деталь</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detal.detal_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detal.detal_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modif.modif_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modif.modif_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Назад", "Index")
</p>
