﻿@model IEnumerable<WebApplication2.Models.report1_view>

@{
    ViewBag.Title = "Index";
}

<h2>Запрос 1</h2>

<p>Выдать список модификаций деталей с минимальной трудоемкостью, упорядоченный по названиям деталей</p>

<table class="table">
    <tr>
        <th>Название детали</th>
        <th>Название мод-ии</th>
        <th>Трудозатратность</th>
    </tr>
    <tr>

    </tr>
    @foreach (var res in ViewBag.result)
    {
        <tr>
            <td>@res[0]</td>
            <td>@res[1]</td>
            <td>@res[2]</td>
        </tr>
    }
</table>


