﻿@model IEnumerable<WebApplication2.Models.detal_on_machine>

@{
    ViewBag.Title = "Index";
}

<h2>Деталь-Станок</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.detal.detal_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.machine.machine_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.detal.detal_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.machine.machine_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.id }) |
            @Html.ActionLink("Подробности", "Details", new { id=item.id })
        </td>
    </tr>
}

</table>
