﻿@model IEnumerable<WebApplication2.Models.modif>

@{
    ViewBag.Title = "Index";
}

<h2>Модификации</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.modif_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.modif_name)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.modif_id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.modif_id }) |
            @Html.ActionLink("Подробности", "Details", new { id=item.modif_id })
        </td>
    </tr>
}

</table>
